<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean name="computer" class="com.beans.DellComputer">
		<property name="microprocessor" ref="intelmicroprocessor" />
		<!--<property name="microprocessor"> <ref bean="intelmicroprocessor" /> </property> -->
	</bean>
	<bean name="amdmicroprocessor" class="com.beans.AMDMicroprocessor">
		<property name="noOfCores" value="2" />
		<!--<property name="noOfCores"> <value>2</value> </property> -->
	</bean>
	<bean name="intelmicroprocessor" class="com.beans.IntelMicroprocessor"
		p:noOfCores="4"
	/>
</beans>
